/*GLOBAL STYLES*/
body{
	font-family: 'Lato', sans-serif;	
	padding: 0 0 auto;
	font-size: 14px;
	margin: 0;
	color: #000000;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*END GLOBAL STYLES*/

/*START NAVBAR*/
.navbar{
	background-color: #111111;
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover{
	color:#000000;
	border-bottom: 1px solid #000000
}
.navbar-default .navbar-toggle{
	border-radius: 0;
}
.navbar-default .navbar-collapse{
	border-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#ffffff;
}
/*END NAVBAR*/

/*START BRAND NAME*/
#business-brand{
	color: #ffffff;
	font-size: 2.5em;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}
/*END BRAND NAME*/

/*START NAVIGATION DROPDOWN*/
#menu-list{
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1.3em;
	background-color: #ffffff;
}
#menu-list a:focus, #menu-list a:active{
	background-color: #000000;
	color: #ffffff;
}
#menu-list a:hover{
	background-color: #303030;
	color: #ffffff;
}
#toggle-button:hover, #toggle-button:active, #toggle-button:focus{
	background-color: #303030;
}
/*END NAVIGATION DROPDOWN*/

/*START CONTENT*/

/*HEADING*/
#heading{
	margin-top: 1%;
	font-size: 1em;
}
#heading .title{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.7em;
}
/*END HEADING*/

/*CONTENT*/
#content{
	background-color: #a0a0a0;
	margin-bottom: 3em;
}
#content .content-title{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}
/*END CONTENT*/

/*CONTENT - OPTIONAL*/
.food-item{
	margin-bottom: 3em;
}
.food-item section{
	padding: 1em;
	background-color: #a0a0a0;
}
.food-item .content-title{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}
.food-item .link-to-top{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	color: #000000;
}
/*END CONTENT OPTIONAL*/